{%extends 'home/base.html'%} {%block content%}
<div
  class="containerS"
  style="
    width: 500px;
    height: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  "
>
  <div class="card" style="width: 100%; height: 100%">
    <img
      src="{{ listing.product.url }}"
      class="card-img-top"
      alt="..."
      style="height: 200px"
    />
    <div class="card-body">
      <span><small>{{listing.description}}</small></span
      ><br />
      <span><small>{{listing.specifications}}</small></span
      ><br />
      <span><small>{{listing.price_offers}}</small></span
      ><br />
      <a class="btn btn-primary" href="{% url 'Home'  %}" role="button">Back</a>
    </div>
  </div>
</div>
{% endblock %}
