{% extends 'authenticate/base.html' %} {% block content %}
<div class="card" id="CSignup">
  <div class="card-body">
    <div
      class="div"
      style="font-size: large; text-align: center; margin: 2% auto"
    >
      <span>Login</span>
    </div>
    <form method="POST">
      {% csrf_token %}
      <div class="input-group">
        <span class="input-group-text">Username</span>
        <input
          type="text"
          aria-label="First name"
          class="form-control"
          name="uname"
          required
        />
      </div>
      <br />
      <div class="input-group">
        <span class="input-group-text">Password</span>
        <input
          type="password"
          aria-label="Password"
          class="form-control"
          name="pass"
          required
        />
      </div>
      <br />
      <div class="d-grid gap-2 col-6 mx-auto">
        <button class="btn btn-primary" type="submit">Submit</button>
      </div>
      <br />
    </form>
    <span
      ><small
        >Signup here if not registered
        <a href="{% url 'signup' %}">Signup</a></small
      ></span
    >
  </div>
</div>
{% endblock %}
